@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');

html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: black;
}
.txt {
color: white;
  font-size: 5vw;
  font-family: 'Smooch Sans', sans-serif;
tex-align: center;
}
.btns {
  flex: 1;
  background-color: #000000;
  border: solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 5vw;
  border-radius: 10000px;
  height: 100%;
  width: 96%;
  font-family: 'Smooch Sans', sans-serif;
  margin: 2%;
}
.btns:hover{
background-color: white;
  color: black;
}


/* STARTING SCREEN */

.TS {
  flex: 1;
}
.Title {
  color: white;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 15vw;
  text-align: center;
}
#SZ {
  display: flex;
  flex-direction: row;
}
#Sbtns {
  flex: 16;
}
.SC {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.SIC {
  flex: 1;
  margin: 2%;
}
.IC {
  height: 100%;
  width: 100%;
}
#Starting {
  display: none;
}

/* COMBAT DESICION SCREEN */

#CombatDecision {
  display: none;
  opacity: 1;
  transition: opacity 1s;
}
#CombatDecision.fade {
  opacity: 0;
}
#CombatDecision.nofade {
  opacity: 1;
}
#CDI {
  display: flex;
  flex-direction: column;
  margin: 1%;
}
#CDT {
  flex: 1;
  display: flex;
}
#return {
  flex: 1;
  height: 60%;
}
#CTitle {
  flex: 4;
}
#UCZ {
  flex: 4;
  display: flex;
  flex-direction: column;
}
#TCbtns {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#BCbtns {
  flex: 1;
  display: flex;
  flex-direction: row;
}
#FZ {
  width: 100%;
  height: 100%;
}
#LUZ {
  width: 100%;
  height: 100%;
}
#RZ {
  width: 100%;
   height: 100%;
}
#CRZ {
   height: 92%;
  width: 92%;
  margin: 4%;
  border: solid white;
    color: white;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 5vw;
  text-align: center;
}
#CRTZ {
  height: 90%;
  width: 100%;
  text-align: center;
}
.CIC {
  display: block;
  height: 35%;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}
.green {
  color: #32bd00;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 3vw;
  margin: 0;
}

/* DUNGEON FLOOR SCREEN */
#DFSN {
  display: none;
}
#DFtitleB {
  display: flex;
  flex-direction: row;
}
#Floors {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#Floors {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#floors {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.image {
  flex: 1;
}
#Flimage {
  height: 100%;
  width: 100%;
}
#flbtns {
  flex: 4;
  margin: 2%;
}
#Ebtn {
  margin: 5%;
}
.DFT {
  color: #ffffff;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 5vw;
  margin: 2%;
}
#Enterfl {
  display: none;
}
#flbtns {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.divclass {
  display: flex;
  width: 100%;
}
#DFT {
  display: none;
  color: #ffffff;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 5vw;
  margin: 2%;
}



/* FIGHT SCREEN */
#CFS {
  display: none;
}
#CFSI {
  diplay: flex;
}
#bars {
  display: flex;
  margin: 3%;
  height: 94%;
  width: 94%;
  align-items: center;
}
#RightSide{
  flex: 10;
  height: 100%;
  width: 100%;
}
#Icon{
  flex: 3;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
}
#CFSIC {
  height: 100%;
  width: 100%;
}
#LeftSide{
  flex: 10;
  height: 100%;
  width: 100%;
}
#LeftTopSide {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  margin-right: -12%;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}
#EmptyHP {
  padding-left: 0%;
  padding-top: 8%;
  background-color: #545454;
  float: left;
  position: relative;
}
#HP {
  padding-left: 100%;
  padding-top: 8%;
  background-color: #ae3232;
  float: right;
  position: relative;
}
#hide {
  display: none;
}
#HP:hover + p {
  display: block;
  color: white;
  font-size: 10vw;
  text-align: center;
}
#LeftBottomSide {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-right: -12%;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}
#EmptyEXP {
  padding-left: 100%;
  padding-top: 8%;
  background-color: #545454;
  float: left;
  position: relative;
}
#EXP {
  padding-left: 0%;
  padding-top: 8%;
  background-color: #9060d7;
  float: right;
  position: relative;
}
#RightTopSide {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  margin-left: -12%;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}
#EmptyStamina {
  padding-right: 0%;
  padding-top: 8%;
  background-color: #545454;
  float: right;
  position: relative;
}
#Stamina {
  padding-right: 100%;
  padding-top: 8%;
  background-color: #cea840;
  float: left;
  position: relative;
}
#RightBottomSide {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: -12%;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}
#EmptyMP {
  padding-right: 0%;
  padding-top: 8%;
  background-color: #545454;
  float: right;
  position: relative;
}
#MP {
  padding-right: 100%;
  padding-top: 8%;
  background-color: #096477;
  float: left;
  position: relative;
}
#CFbtns {
  flex: 1;
  height: 92%;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  display:flex;
  flex-direction: row;
}
.CFBtns {
  height: 100%;
  width: 100%;
}
.Fbtns {
  flex: 2;
  background-color: #000000;
  border: solid;
  color: white;
  padding: 15px 32px;
  font-size: 3vw;
  border-radius: 10000px;
  height: 96%;
  width: 96%;
  font-family: 'Smooch Sans', sans-serif;
  margin-left: 2%;
  margin-right: 2%;
}
.Fbtns:hover{
background-color: white;
  color: black;
}
.Backbtns {
  flex: 2;
  background-color: #000000;
  border: solid;
  color: white;
  font-size: 3vw;
  border-radius: 10000px;
  height: 96%;
  width: 96%;
  font-family: 'Smooch Sans', sans-serif;
  margin-left: 2%;
  margin-right: 2%;
}
.Backbtns:hover{
background-color: white;
  color: black;
}
#Fight {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#Graphics {
  height: 94%;
  width: 94%;
  margin: 3%;
  flex: 4;
  border: solid white;
}
#EHPBar {
  float: right;
  width: 94%;
  display: flex;
  flex-direction: row;
  margin: 1%;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  margin-bottom: 30%;
}
#EmptyEHP {
  padding-left: 0%;
  padding-top: 2%;
  background-color: #545454;
  float: left;
  position: relative;
}
#EHP {
  padding-left: 100%;
  padding-top: 2%;
  background-color: #6e0c0c;
  float: right;
  position: relative;
}
#Attackbtns {
  display: flex;
  flex-directions: row;
  margin-left: 4%;
  margin-right: 4%;
}
#Magicbtns {
  display: flex;
  flex-directions: row;
  margin-left: 4%;
  margin-right: 4%;
}
#Skillbtns {
  display: flex;
  flex-directions: row;
  margin-left: 4%;
  margin-right: 4%;
}

/* Rest Screen */
#RS {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
#RS.fadein {
  opacity: 1;
}


/* Inventory Screen */
#InventorySc {
  display: none;
}
#IT {
  display: flex;
}
#ITitle {
  flex: 3;
}
#InventoryPage {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: #545454ff;
  padding: 10px;
  margin: 2%;
  border: solid white 2px;
  border-radius: 10px;
  min-height: 70vw;
        max-height: 70vw;
}
.Invbtns {
  flex: 1;
  background-color: #000000;
  border: solid;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3vw;
  border-radius: 3px;
  height: 100%;
  font-family: 'Smooch Sans', sans-serif;
  margin: 0.2%;
}
.invbtns:hover{
background-color: white;
  color: black;
}
#UnlockSkill {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Stats Screen */
#StatsSc {
  display: none;
}
#StatT {
  display: flex;
}
#StatTitle {
  flex: 3;
}
.Txt {
color: white;
  font-size: 3vw;
  font-family: 'Smooch Sans', sans-serif;
text-align: center;
}
#Statpage {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
.StatColumns {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* CHARACTER SCREEN */
#CharacterSc {
  display: none;
}
.txt {
color: white;
  font-size: 5vw;
  font-family: 'Smooch Sans', sans-serif;
tex-align: center;
}
.CHbtns {
  flex: 1;
  background-color: #000000;
  border: solid;
  color: white;
  text-align: center;

  font-size: 5vw;
  border-radius: 10000px;
  height: 100%;
  width: 96%;
  font-family: 'Smooch Sans', sans-serif;
  margin: 2%;
}
.CHbtns:hover{
background-color: white;
  color: black;
}
.CHTitle {
  color: white;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 5vw;
  text-align: center;
  flex: 3;
  text-decoration: underline;
}
#CHT {
  display: flex;
}
#CHreturn {
  flex: 1;
  height: 50%;
}
#LVLT {
  display: flex;
}
#LVLTitle {
  flex: 3;
}
#LVLPage {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
.LVLColumns {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#LVLtxt {
  display: flex;
  flex-direction: row;
  font-family: 'Smooch Sans', sans-serif;
   color: white;
  font-size: 5vw;
  margin: 2%;
}
.LVLtxt {
   display: flex;
  flex-direction: row;
  font-family: 'Smooch Sans', sans-serif;
   color: white;
  font-size: 5vw;
  margin: 2%;
}
.LVLbtns {
  background-color: #000000;
  border: solid;
  color: white;
  text-align: center;
  font-size: 5vw;
  border-radius: 10px;
  font-family: 'Smooch Sans', sans-serif;
  margin-left: auto;
  margin-right: 2%;
 float: right;
}
.LVLbtns:hover{
background-color: white;
  color: black;
}
#Statspage {
  display: none;
}
#SkillsPage {
  display: none;
}
#CharacterPage {
    display: flex;
  flex-direction: column;
}
#Stats-CH {
  display: flex;
  flex-direction: row;
}
.StCh {
  margin: 2%;
}
.Sttxt {
  color: white;
  text-align: center;
  font-size: 4vw;
  border-radius: 10px;
  font-family: 'Smooch Sans', sans-serif;
}
#InventoryPage {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: #545454ff;
  padding: 10px;
  margin: 2%;
  border: solid white 2px;
  border-radius: 10px;
  min-height: 40vw;
  max-height: 40vw;
}

.dmgSkill {
   display: flex;
  flex-direction: column;
  font-family: 'Smooch Sans', sans-serif;
   color: white;
  font-size: 5vw;
  margin: 2%;
}
.dmgStext {
  text-decoration: underline;
  margin: -1%;
}
.DMGSKILLTEXT {
   display: flex;
  flex-direction: column;
  font-family: 'Smooch Sans', sans-serif;
   color: white;
  font-size: 5vw;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#SkillGraphic {
  display: flex;
  flex-direction: column;
  margin: 2%;
 width: 80%;
    font-family: 'Smooch Sans', sans-serif;
   color: white;
  font-size: 7vw;
  text-align: center;
}
#GraphicsSkill {
  height: 29%;
  width: 94%;
  margin: 3%;
  border: solid white;
  font-size: 1vw;
}